<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card p-3 m-3">
        <div class="card-header d-flex justify-content-between p-3">
          <strong class="text-dark">View Question Type</strong>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
                <div class="col-4 mb-3">
                <div class="form-QuetionType">
                  <label for="QuetionType_name">Question Type:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="QuetionType_name"
                    [value]="(allQuetionTypeDetails.question_type | titlecase) || '--'"
                    [disabled]="true"
                  />
                </div>
              </div>
            </div>
  <div class="row">
              <div class="col-8 mb-3">
                <div class="form-QuetionType">
                  <label for="isPartner">Description :</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="isPartner"
                    [value]="allQuetionTypeDetails.description || '--'"
                    [disabled]="true"
                  ></textarea>
                </div>
              </div>
            </div>
            <hr />
            <div>
              <button
                type="button"
                class="btn btn-secondary px-4 btn-sm fw-bold"
                (click)="goToback()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
