.pass-badge {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

.fail-badge {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}