<div class="container-fuild">
  <div class="row h-100 m-0">
    <div class="side-bar">
      <div class="logo p-3 text-center cursor-pointer">
        <img
          src="assets/image/Tecstaq-new-logo-transeparent.png"
          alt="tecstaq-test"
          [routerLink]="[
            '/student',
            { outlets: { student_menu: ['student-dashboard'] } },
          ]"
        />
      </div>
      <div class="menu">
        <ul class="nav">
          <!-- Dashboard -->
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="[
              '/student',
              { outlets: { student_menu: ['student-dashboard'] } },
            ]"
          >
            <span
              ><i class="fa fas Dashboard-icon fa-tachometer-alt me-2"></i
            ></span>
            Dashboard
          </li>
          <!--  test -->
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/student', { outlets: { student_menu: ['test'] } }]"
          >
            <span><i class="bi bi-flask h5"></i></span>Test 
          </li>

          <!-- Change Password -->
          <li class="nav-item" (click)="openChangePasswordDialog()">
            <span>
              <i class="fas fa-key me-2"></i>
              <span style="position: absolute">Change Password</span>
            </span>
          </li>

          <!-- Logout -->
          <li class="nav-item" (click)="logout()">
            <span><i class="fa fas fa-sign-out-alt me-2"></i></span>Logout
          </li>
        </ul>
      </div>
    </div>
    <div class="body">
      <router-outlet name="student_menu"></router-outlet>
    </div>
  </div>
</div>
