<div>
  <div class="loading" *ngIf="isLoading">
    <div class="lds-roller">
      <div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div>
    </div>
  </div>

  <!-- Single router outlet -->
  <router-outlet></router-outlet>

  <!-- Sidebar condition -->
  <div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0 flex-nowrap">
      <div class="col-md-12"></div>
    </div>
    <app-admin-sidebar *ngIf="isAdmin"></app-admin-sidebar>
  </div>
</div>